{% extends 'base.html.twig' %}


{% block body %}

<h1>Listado de clientes</h1>
<div id="tabla">
	<table class="table">
            <thead>
                <tr>
                    <th>CLIENTE</th>
                    <th>DETALLES</th>
                </tr>
            </thead>
            <tbody>
            {% for cliente in vectorclientes %}
                <tr>
                    <td>{{ cliente.nombre }}</td>
                    <td><a href="{{path('cliente_detalle', {'id': cliente.id}) }}"> Mostrar</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
<div id="cliente">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal3">
    Añadir cliente
    </button>
    {% include 'cliente/modalcliente.html.twig' %}
</div> 

{% endblock %}  