{% extends 'base.html.twig' %}

{% block title %} Hello! {% endblock %}

{% block body %}

<h1>Añadir un nuevo cliente</h1>
<div id="form">
{{ form_start(formulario)  }}
{{ form_widget(formulario) }} 
{{ form_end(formulario) }}
</div>

<a href="{{path('cliente')}}">Volver a todos los clientes</a>


{% endblock %} 