<footer>
	<div class="container">
	<div class="row">
		<div class="col-md-5">
			<ul>
				<li> Sobre la clínica </li>
				<p></p>
				<p>Servicios: radiología, cirugía, medicina interna, vacunaciones, hospitalización, alimentación, peluquería y guardería.</p>
			</ul>
		</div>
		<div class="col-md-3">
			<ul>
				<li> Dirección </li>
				<p></p>
				<p> Calle Mediodía, 56 <br> 10003 Cáceres</p>
			</ul>
		</div>
		<div class="col-md-4">
			<ul>
				<li> Redes sociales </li>
				<p></p>
				<p>
				<i class="fab fa-2x fa-facebook-square"></i>
				<i class="fab fa-2x fa-instagram"></i>
				<i class="fab fa-2x fa-twitter-square"></i>
				</p>
			</ul>
		</div>
	</div>
	</div>
	<div id="autor">
		<p>Copyright © 2018 éreme</p>
	</div>

</footer>