{% extends 'base.html.twig' %}

{% block title %} Hello! {% endblock %}

{% block body %}

<h1>Añadir una nueva mascota</h1>
<div id="form">
{{ form_start(formulario)  }}
{{ form_widget(formulario) }} 
{{ form_end(formulario) }}
</div>



{% endblock %} 

